langchain>=0.3.0
langchain-groq
langchain-community
langchain-huggingface
langgraph
langgraph-checkpoint-sqlite
langsmith
supabase
faiss-cpu
sentence-transformers
torch
torchvision
mlflow
streamlit
pandas
python-dotenv
requests
dateparser
presidio-analyzer
presidio-anonymizer